<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Blog</h1>

    {% if flash %}
<div style="background: green; color: white; padding: 10px;">
    {{ flash }}
</div>
{% endif %}

<form method="post" action="/crud/blog/update/{{ blog.id }}">

    <input
        type="text"
        name="title"
        placeholder="Title"
        value="{{ blog.title }}"
    > <br><br>

   <textarea name="comment" id="">{{ blog.description }}</textarea> <br><br>

    <button type="submit">
        Save
    </button>

</form>
</body>
</html>